*{
    margin: 0;
    padding: 0;
}
header{

width: 100%;

background: #343A40;
}
header nav{
    
}
header nav ul{
    
width: 40%;
    
margin: auto;
    
display: flex;
    
justify-content: space-between;
    
align-items: center;
    
height: 57px;
}
header nav ul li{
    
list-style: none;
}
header nav ul li a{
    
text-decoration: none;
    
font-size: 14px;
    
color: #fff;
    
text-transform: uppercase;
    
font-weight: 300;
}
header nav ul li img{
    
width: 120px;
}
.home-section{

min-width: 100vw;

height: 100vh;

margin: auto;

min-height: 89vh;

background-image: url('../images/bg.jpg');

background-position: center;

background-attachment: scroll;

background-repeat: no-repeat;

position: relative;
}
.home-section .overlay{
    position: absolute;
    background-color: #000000bf;
    min-width: 100vw;
    height: 100vh;
}
.home-section .home-container{
    
position: absolute;
    
display: flex;
    
justify-content: space-between;
    
width: 72%;
    
margin: auto;
    
/* margin-top: 141px; */
    
left: 50%;
    
top: 50%;
    
transform: translate(-50%,-50%);
}
.home-section .home-container .left-content{
    
width: 70%;
}
.home-section .home-container .left-content ul{
    
}
.home-section .home-container .left-content ul li{
    
list-style: none;
    
color: #fff;
}
.home-section .home-container .left-content h1{
    
font-size: 34px;
    
font-weight: 400;
    
color: #fff;
    
text-transform: uppercase;
    
margin-bottom: 2px;
}
.home-section .home-container .left-content span{
    
color: #6dbd6d;
}

.home-section .home-container .left-content p{
    
color: #fff;
}
.home-section .home-container .left-content i{
    
display: inline-block;
    
border: 2px solid white;
    
border-radius: 50%;
    
color: #fff;
    
font-size: 10px;
}

.home-section .button{

width: 88px;

padding: 4px;

/* border: 5px solid black; */

border-radius: 20px;

background: #6dbd6d;

font-size: 15px;

text-align: center;

margin-top: 5px;
}
.home-section .button button{

background: transparent;

border: none;

color: #fff;

font-weight: 600;
}
.home-section .form-box{

width: 40%;

background: #6DBD6D;

/* overflow: hidden; */

padding: 40px 20px 43px 20px;

border-radius: 8px;
}
.home-section .box-container{

text-align: center;

color: #fff;

overflow: hidden;
}
.home-section .box-container h2{

text-transform: uppercase;

margin-bottom: 3px;

font-weight: 400;
}
.home-section .box-container p{

/* font-weight: 100; */

text-transform: capitalize;

margin-bottom: 50px;
}
.home-section form{

}
.home-section form input{

width: 100%;

/* background: transparent; */

border: navajowhite;

background: #fff;

padding: 10px;

margin-top: 9px;

text-transform: capitalize;

outline: none;
}
.home-section form input[type="submit"]{text-transform: uppercase;font-weight: 500;background: #138113;box-shadow: inset 0px -1px 0px 0px rgb(40 82 40);color: #fff;border-radius: 2px;}

